---
import GradientText from './GradientText.astro'
import TextSeparator from './TextSeparator.astro'
import Tag from './Tag.astro'

export interface TagInterface {
    label: string;
    icon: string;
}

export interface Project {
    title: string;
    subtitle: string;
    content: string;
    tags: Array<TagInterface>;
}

export interface Props {
    isEven: boolean;
    project: Project;
}

const { isEven, project } = Astro.props
---

<div class="col-span-2 sm:col-span-1 lg:col-span-2 grid grid-cols-12 bg-gradient-to-r from-jscyan/5 to-jspink/5 rounded-xl bg-opacity-10 overflow-hidden">
    <div class={`col-span-12 lg:col-span-7 lg:p-5 justify-center ${isEven ? 'lg:order-1' : 'lg:order-2'}`}>
        <img class="w-full max-w-full mx-auto lg:mr-0 aspect-square lg:aspect-auto object-cover overflow-hidden" src="https://stefantopalovicdev.vercel.app/static/media/about-img.62b47e7f183d4b4e9feb.webp" alt="Mi foto"/>
    </div>
    <div class={`col-span-12 lg:col-span-5 p-5 ${isEven ? 'lg:order-2' : 'lg:order-1'}`}>
        <span class="mb-1 block font-bold text-lg uppercase">
            <GradientText>{project.title}</GradientText>
        </span>
        <span class="mb-2 block text-md text-jswhite font-bold">{project.subtitle}</span>
        <TextSeparator size="sm" class="mb-4"/>
        <p class="text-jslightgrey mb-4">{project.content}</p>
        <div class="tags flex flex-row flex-wrap gap-2">
            { project.tags.map((tag) => <Tag label={tag.label} icon={tag.icon}/>)}
        </div>
    </div>
</div>
